# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Visual Studio Code settings
.vscode/

# DS_Store files
.DS_Store

# macOS
*.DS_Store
.AppleDouble
.LSOverride


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# logs
logs/

data/